{% extends 'admin/layout.html' %}
{% block content %}
    <div class="page-header">
        <h1>Create New Post</h1>
    </div>
    <form action="{{ url_for('admin.create_post') }}" method="post" role="form">
        <div class="form-group">
            <label for="title">Post Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Post title...">
            <label for="content">Post Content (supports markdown)</label>
            <textarea class="form-control" name="content" id="content" cols="30" rows="10"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}